<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Go Markdown Render</title>
    <link rel="stylesheet" href="/static/github-markdown.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background: #f6f8fa;
        }

        .markdown-container {
            display: flex;
            justify-content: center;
            padding: 2rem;
        }

        /* GitHub markdown body */
        .markdown-body {
            box-sizing: border-box;
            max-width: 980px;
            width: 100%;
            padding: 2rem;
            background: #ffffff;
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <div class="markdown-container">
        <article class="markdown-body" id="markdown-body"></article>
        
        <script src="/static/marked.umd.js"></script>
        <script>
            const markdown = {{ .MarkDown }};
            document.getElementById("markdown-body").innerHTML = marked.parse(markdown);
        </script>
    </div>

    <footer style="text-align:center; padding:1rem; font-size:0.9rem; color:#666;">
        Made with ♥️ by
        <a href="https://github.com/ayuxsec" style="color:#555; text-decoration:none;">
            @ayuxsec
        </a>
    </footer>
</body>
</html>